[submodule "comp1110/labs"]
	path = comp1110/labs
	url = git@gitlab.cecs.anu.edu.au:u6053932/comp1110-labs
[submodule "comp1110/homework"]
	path = comp1110/homework
	url = git@gitlab.cecs.anu.edu.au:u6053932/comp1110-homework
[submodule "comp1100/comp1100-src"]
	path = comp1100/homework
	url = git@gitlab.cecs.anu.edu.au:u6053932/comp1100-src
[submodule "comp1100/labs"]
	path = comp1100/labs
	url = git@gitlab.cecs.anu.edu.au:u6053932/labs
