[submodule "yr2/sm2/comp1100/src"]
	path = yr2/sm2/comp1100/src
	url = https://github.com/justinbloomfield/comp1100-src
[submodule "yr2/sm2/comp1100/homework"]
	path = yr2/sm2/comp1100/homework
	url = git@gitlab.cecs.anu.edu.au:u6053932/comp1110-homework
[submodule "yr2/sm2/comp1100/labs"]
	path = yr2/sm2/comp1100/labs
	url = git@gitlab.cecs.anu.edu.au:u6053932/comp1110-labs
